<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../../src/views/style.css">
    <title>Document</title>
</head>
<body>

    
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="news.html">News <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" tabindex="-1" aria-disabled="false">#2</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>

    <div class="d-flex justify-content-center">
        <img src="./../../dist/imgs/images.png" alt="erro no carregamento">
    </div>

    <div class="d-flex justify-content-center">
        <div class="badge badge-warning text-wrap ml-4 mr-4 mb-3 mt-3" style="width: 100rem;">
            <h6>
            Seja bem-vindo ao maior app de notícias do IFRS! 
            <Br>
            <br>
            Por aqui você fica sabendo de tudo que acontece no mundo e ainda pode personalizar do jeitinho que você quiser.
            <BR>
            <br>
            Tudo isto em um app só? É POSSÍVEL SÓ AQUI NO BREAKING NEWS.
            </h6>
        </div>
    </div>

    <div class="d-flex justify-content-center ml-4 mt-3">
        <h5>Quem somos?</h5>
        <div class="ml-2 mr-4 mb-4 bg-light shadow">
        <p>
             Somos um app que busca simplificar a forma com a qual você se liga a noticias relacionadas aos assuntos os quais
            você mais se interessa, vizando torna-lá mais rápida e direta, organizando para cada usuario uma experiencia unica
            e personalizada de acordo com os seus gostos.
        </p>
        </div>
    </div>

    <div class="d-flex justify-content-center ml-4 mt-4">
        <h5>Como usar?</h5>
        <div class="ml-4 mr-4 mb-4 bg-light shadow">
            <p>
                É simples, rápido e fácil!
                <br>
                1 Passo: <br> Selecione qual categoria você deseja receber noticias;
                <br>
                2 Passo: <br> Selecione de qual pais você deseja receber informações;
                <br>
                3 Passo: <br> Selecione como você deseja ordenar suas noticias;
                <br>
                4 Passo: <br> Por fim, selecione quantas noticias você deseja receber na palma da sua mão.
            </p>
        </div>
    </div>

    <div class="d-flex justify-content-center mb-5 mt-4">
        <a role="button" href="news.html" class="btn btn-outline-danger">Comece agora mesmo!</a>
    </div>

    
    <footer>
        <div class="d-flex justify-content-between">
            <img src="./../../dist/imgs/eu.jpg" id="img" alt="erro ao carregar">
            <p id="text">COLABORADOR: PEDRO EDOM NUNES</p>
        </div>
    </footer>



    



    <script src="./../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./../../node_modules/popper.js/dist/popper.min.js"></script>
    <script src="./../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>